<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Test jinja templates</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
