{% extends "base.jinja" %}

{% block body %}
<h2>Hello world from jinja templates rendered on django.</h2>

<div class="list">
    {% for x in lista %}
    <div class="{{ loop.cycle('c1', 'c2') }}">
        {% if x.pow < 20 %}
        <span style="color: red">{{ x }}</span>
        {% elif x.pow < 100 %}
        <span style="color: blue">{{ x }}</span>
        {% else %}
        <span style="color: green">{{ x }}</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="urls">
    <h3>Url testing with filter</h3>
    <ul>
        <li><b>Url filter</b> - {{ 'test-2'|reverse }}</li>
    </ul>
</div>


<div class="urls">
    <h3>Url testing with global function</h3>
    <ul>
        <li><b>Url filter</b> - {{ url('test-2') }}</li>
    </ul>
</div>

<div class="csrf-token-test">
    <h3>csrf token test</h3>
    {% csrf_token %}
</div>

<div class="context-function">
    {{ hello("world!") }}
</div>

<div class="autoescape">
    <h3>Autoescape test:</h3>
    {{ footext }}
</div>
{% endblock body %}

{% block footer %}
<h3>Foother example</h3>
{{ pub_date|datetimeformat('%d-%m-%Y') }}
{% endblock %}
