{% extends "base.jinja" %}

{% block body %}
<h2>Hello world from jinja templates rendered on django.</h2>

<div class="list">
    {% for x in lista %}
    <div class="{{ loop.cycle('c1', 'c2') }}">
        {% if x.pow < 20 %}
        <span style="color: red">{{ x }}</span>
        {% elif x.pow < 100 %}
        <span style="color: blue">{{ x }}</span>
        {% else %}
        <span style="color: green">{{ x }}</span>
        {% endif %}
    </div>
    {% endfor %}
{% endblock body %}

{% block footer %}
<h3>Foother example</h3>
{{ pub_date|datetimeformat('%d-%m-%Y') }}
{% endblock %}
